node_modules

# Environment variables
.env

# Prisma generated client
/src/generated/prisma

# SQLite database files
*.db
*.db-wal
*.db-shm

/dist

# Early prototyping files
SundanceAndDarko.py.txt
movie_overlap.py